
<mat-accordion>
  <mat-expansion-panel *ngFor="let res of resultLst">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{res.name}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let reslst of res.lst">
      <div class="displayExpandContent" >
          <div class="displayExpandContent50" >
                {{reslst.name}}
          </div>
          
          <div  *ngIf="reslst.typeRight == 0">
            <button type="button" mat-mini-fab color="accent" (click)="changeStatus(reslst, res);" [class.cursorpointer]="editQuery == 1">
                <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div class="displayExpandContent50 mat-expansion-panel-body-mat" *ngIf="reslst.typeRight == 1">
              <button type="button" mat-mini-fab color="primary" (click)="changeStatus( reslst, res);" [class.cursorpointer]="editQuery == 1">
                  <mat-icon>done</mat-icon>
              </button>
          </div>
          
          <div class="displayExpandContent50 mat-expansion-panel-body-mat" *ngIf="reslst.typeRight == 2">
              <button type="button" mat-mini-fab color="warn" (click)="changeStatus(reslst, res);"  [class.cursorpointer]="editQuery == 1">
                  <mat-icon>clear</mat-icon>
              </button>
          </div>
          
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

  