.login-container {
    height: 100%;
    position: fixed;
    width: 100%;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 300px;
}
  
.login-buttons {
    text-align: right;
}

