

<mat-sidenav-container class="app-sidenav-container">
    
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" 
        [opened]="!isScreenSmall()" 
        [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">
            <span>Main menu</span>
            <span class="header-spacer"></span>
            <button mat-button class="exit-toogle" (click)="auth.logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let link of links">
                <a matLine href="#">
                    <mat-icon svgIcon="{{ link.avatar }}"></mat-icon>
                    {{ link.link }}
                </a>
            </mat-list-item>
          </mat-nav-list>
    </mat-sidenav>
    
    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>