
<mat-card class="p-1" >
  
  <mat-card-title>
      <div class="card-title-text">{{title}}</div>
      <mat-divider></mat-divider>
  </mat-card-title>
        
  <mat-toolbar class="toolbar-main">
    <mat-toolbar-row>
        <span class="toolbar-spacer"></span>
        <button type="button" mat-mini-fab color="primary" class="mr-1" (click)="doConsulta(undefined)">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="pb-1"></div>
  <mat-divider class="top-margin bottom-margin"></mat-divider>
  <div class="pb-1"></div>    
  <form [formGroup]="newRoleForm" class="form-mat" >
      <div fxLayout="row" fxLayoutWrap="wrap">
        
          <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                    <input matInput type="text" formControlName="role" placeholder="Role*" 
                        autocomplete="off" [ngClass]="{'error': isValid('role')}" />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <textarea matInput type="text" formControlName="descripcion" placeholder="Descripcion*" 
                        autocomplete="off" [ngClass]="{'error': isValid('descripcion')}" style="height: 300px;" >
                    </textarea>
                </mat-form-field>
              </div> 
          </div>
      </div>
  </form>
</mat-card>

<div class="floatButton" *ngIf="!readonly">
  <button type="button" mat-mini-fab color="primary" style="bottom: 35px;" class="mr-1 floatButton" (click)='showConfirmacion()'>
      <mat-icon>save</mat-icon>
  </button>
</div>
  
  
  